* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #404040;
    background-color: #f5f7fa;
}
p {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 1200px;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.sidebar-container {
    /* background-color: #262C4F; */
    background-color: #262C4F;
    width: 370px;
    padding-top: 40px;
}

.sidebar-container > img {
    width: 370px;     
}

.contacts-container,
.tech-skills-container,
.soft-skills-container {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
}

.sidebar-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

.sidebar-cell,
.sidebar-email {
    font-weight: 700;
    letter-spacing: 0.42px;
    color: #ffffff;
}

.sidebar-cell a,
.sidebar-email a {
    opacity: 0.5;
    color: #ffffff;
    font-weight: 400;
}

.skills-list,
.companies-list {
    padding-left: 20px;
}

.skills-list li {
    color: #E83E05;
}

.skills-item {
    color: #ffffff;
    letter-spacing: 0.5px;
}

.about-me-container {
    width: 830px;
    background-color: #ffffff;
    margin: 110px 90px;
    
}

.main-info-container h2 {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #000000;
}

.main-info-container h1 {
    color: #000000;
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
    margin: 0;
}

.main-info-container p {
    width: 500px;
    margin: 0;
}

.projects-container h3,
.work-container h3,
.educations-container h3 {
    color: #000000;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
}

.projects-container h3 {
    margin-top: 60px;
}

.project-item {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
}

.project-item a {
    color: #404040;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    border-bottom: 1px dotted #a8a8a8;
    text-decoration: none;
    padding-right: 138px;
}
.technology {
    color: #404040;
    font-weight: 400;
}

.work-container {
    width: 555px;
}

.work-container h3 {
    margin-top: 50px;
}

.companies-container h4 {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 14px;
    margin-bottom: 10px;
}

.companies-container > h4 > span {
    color: #E83E05;
}

span.time-place {
    color: #666666;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

span.slash {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
}

.educations-container {
    margin-top: 55px;
    margin-bottom: 105px;
}

.education-container h4 {
    color: #E83E05;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 14px;
    margin-bottom: 10px;
}

.education-container p {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}